<!DOCTYPE html>
<html lang="<%= I18n.locale %>" dir="<%= t('meta.dir') %>">
  <head prefix="og: http://ogp.me/ns#">
    <meta charset="utf-8" />
    <title>Brickdoc</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tag %>
    <%= csp_meta_tag %>
    <%= action_cable_meta_tag %>
    <%= render partial: 'layouts/head' %>
    <meta name="renderer" content="webkit">
    <meta name="browsermode" content="application">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <meta property="og:type" content="website" />
    <link type="text/plain" rel="author" href="/humans.txt" />
    <style>
      <% # noscript and PageLoader inline style %>
      noscript { display: block; background: #fff2f0; color: #292929; z-index: 999; width: 100%; min-height: 3rem; position: fixed; top: 0; padding: 8px; } noscript .icon { vertical-align: -0.125em; color: #ff4d4f; }
    </style>
    <%= yield :stylesheet_head %>
    <%# icon font  %>
    <%= render partial: 'layouts/context' %>
    <%= vite_client_tag %>
    <%= vite_react_refresh_tag %>
    <%= vite_typescript_tag 'entrypoints/application.tsx' %>
    <%= vite_stylesheet_bundle_tag %>


  </head>
  <body style="overflow-y: hidden">
  <%= render partial: 'layouts/noscript' %>
  <%= yield %>
  <% if Rails.env.production? %>
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-8D93T65J3Z"></script>
  <script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-8D93T65J3Z'<%= ", {
    'user_id': '#{ Current.user&.hashed_id}'
    });".html_safe if current_user.present? %>);
  </script>
  <% end %>
  </body>
</html>
